@CHARSET "UTF-8";
.container-fluid{margin:0px; padding:0px;}
.container-fluid img{width:100%; height:280px; margin-top:5%;}
.container{width:70%;}
h1{text-align:center; }
h5{text-align:center;}
div.container > div >img {width:200px;}
div.container > div{text-align:center;}
#table-div img{width:30%; }
#banner-img2{margin-top:;}
#banner-img2 img{margin-right:7%; margin-top:2%;}
#table-div2 > div div{ width:150px;}
#table-div div img{width:80%; padding:15px; }
#table-div div{vertical-align:middle;}