body{
	background-color: #F5F6F8;
}
.container{
	margin-top:2%;
	width:940px;
}
.row{
	margin:0px;
	padding:0px;
}
.container h2{
	padding-bottom:1%;
	font-weight: bold;
	display:inline-block;
}
#gnb{
	float:right;
	top:30px;
	position:relative;
	display:inline-block;
}
#gnb a{
	margin-left:15px;
}
#gnb a span{
	font-size: 13px;	
}
.nav-justified{
	margin-bottom:3%;
	border:1px solid #337AB7;
}
.nav-justified li{
	font-weight: bold;
}
.col-md-5:nth-child(1){
	min-height:300px;
	width:48%;
	background-color: white;
	border:1px solid #ccf;
	float:left;
}
.col-md-5:nth-child(2){
	border:1px solid #ccf;
	background-color: white;
	width:48%;	
	min-height:300px;
	float:right;
}
.col-md-5:nth-child(3){
	min-height:300px;
	width:48%;
	background-color: white;
	border:1px solid #ccf;
	float:left;
}
#profill h2{
	line-height: 22px;
	color: #333;
	padding-bottom: 2px;
	font-size:25px;
	font-weight: bold;
}
#pro_group{
	padding:45px 45px 20px;
}
#detail_dl{
	padding-top:15px;
}
#detail_dl dt{
	width:40%;
	float:left;
	font-weight: bold;
	font-size:14px;
	line-height: 20px;
	color: #333;
}
#detail_dl dd{
	font-size:16px;
	line-height: 25px;
	color: #666;
}
#pro_group2{
	padding-top:40px;
}
#pro_group2 p{
	text-align:center;
	padding-top:25px;
}
#pro_group2 p a{
	width:50%;
	min-height:10%;
}
#pro_group2 p a span{
	line-height: 40px;
	font-size: 20px;
	color: #666;
}
#permitSelect{
	float:right;
}
.page-header{
	margin:20px 0 20px 0px;
}