body{
	background-color: #F5F6F8;
}
.container{
	margin-top:2%;
	width:940px;
}
.row{
	margin:0px;
	padding:0px;
}
.container h2{
	padding-bottom:1%;
	font-weight: bold;
	display:inline-block;
}
#gnb{
	float:right;
	top:30px;
	position:relative;
}
#gnb a{
	margin-left:15px;
}
#gnb a span{
	font-size: 13px;	
}
.nav-justified{
	margin-bottom:3%;
	border:1px solid #337AB7;
}
.nav-justified li{
	font-weight: bold;
}
.col-md-5{
	min-height:300px;
	width:48%;
	background-color: white;
	border:1px solid #ccf;
	float:left;
}

#pro_group2{
	padding-top:40px;
}
#pro_group2 p{
	text-align:center;
	padding-top:25px;
	font-size:20px;
}
#pro_group2 p a{
	width:50%;
	min-height:10%;
}
#pro_group2 p a span{
	line-height: 40px;
	font-size: 20px;
	color: #666;
}