@CHARSET "UTF-8";
/** lec_board_view.jsp **/
div#view_row form{display:inline-block;}
/*********************************************************/
/** qna_board_view.jsp **/
h4#view_h4{display:inline-block; width:100px; }
blockquote#view_blockquote{display:inline-block;}
fieldset#view_fieldset{width:75%; margin:auto !important;}
div#view_row{text-align:center; }
fieldset#comment_fieldset{width:75%; margin:auto !important;}
fieldset#comment_fieldset span:not(:nth-child(1)){float:right;}
div#comment_div .row{width:75%; margin:auto}
div#comment_div .row button{float:right; position:relative; top:-7px;}
/***********************************************************/

/** qna_board_write.jsp **/
form#write_form {width: 70%; margin: auto;}
#ir1{width: 99%;}
#write_row {text-align: center; margin:10px 0px 10px 0px;}
div .form-horizontal div.form-group label#write_label {text-align: center;}
div .form-horizontal #write_textarea{margin-left:5%;}
/*******************************************************************/

/** qna_board_modify.jsp **/
form#modify_form {width: 70%;margin: auto;}
#ir1 {width: 99%;}
#modify_row {text-align: center; margin:10px 0px 10px 0px;}
div .form-horizontal div.form-group label#modify_label {text-align: center;}
div .form-horizontal #modify_textarea{margin-left:5%; }
/*********************************************************************/

/** qna_board_list.jsp **/
#list_container{width:65%; margin:auto; margin-top:5%;}
#list_container table.table{margin-bottom:0px;}
#list_container table.table th{text-align:center;}
#list_container table.table tr td:not(:nth-child(2)){text-align:center;}
#list_container table.table #tr3 td{text-align:right; border-top:0px;}
#list_container table.table #tr3:hover{background-color:white;}
/*********************************************************************/

/** lec_room_board_write.jsp **/
#boardType_div{margin-top:7px;}
#boardType_div > input{vertical-align:top;}
#boardType_div > input:nth-child(1){margin-left:15px;}
#reportTime_div{padding-top:7px;}
/**********************************************************************/
